.md-tabs--centered .md-tab {
  color: black;
  margin-top: 4em;
}

.md-tab-panel.md-grid {
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width : 410px) {
  .buttons_group button {
    font-size: 0.9em;
    .buttons_group button span.md-icon-text {
      padding-left: 0;
    }
  }
}